In [113]:
file = '/Users/williambishop/Desktop/L2-561nm-ROIMonitoring_20170826_131101/stim_inds.csv'

In [114]:
import numpy as np
import pandas
from warnings import warn

In [127]:
dataframe = pandas.read_csv(file, names=['s', 'e'])

In [131]:
def process_stimulus_inds(dataframe: pandas.DataFrame) -> list:
    """ Processes stimulus annotations loaded from a csv file.
    
    This function expects no header in the csv file and each line to contain
    two values in the order start, end giving the start and end index of the
    stimulus.  This function expects indexing *to be 1 based* and will convert to
    0 based when it produces output.
    
    Args:
        dataframe: A dataframe object loaded from a csv file.  This can be achieved by:
            dataframe = pandas.read_csv(csv_file)
        
    Returns:
        annots: A list.  Each entry is a stimulus event represented as a dictionary with the
        keys:
            s: the start index
            e: the end index
            type: A string which will always be 'stimulus'
    """
    stim_inds = list()
    for row_ind, row in dataframe.iterrows():
        stim_inds.append({'s': row['s']-1, 'e': row['e']-1, 'type': 'stimulus'})
    return stim_inds

In [132]:
dataframe

      s     e
0   154   159
1   911   916
2  1613  1618
3  2361  2366
4  3914  3919
5  4700  4705

In [133]:
process_stimulus_inds(dataframe)

[{'s': 154, 'e': 159, 'type': 'stimulus'},
 {'s': 911, 'e': 916, 'type': 'stimulus'},
 {'s': 1613, 'e': 1618, 'type': 'stimulus'},
 {'s': 2361, 'e': 2366, 'type': 'stimulus'},
 {'s': 3914, 'e': 3919, 'type': 'stimulus'},
 {'s': 4700, 'e': 4705, 'type': 'stimulus'}]